<h2>Map Overlays</h2>

<label class="switch">
                    <input type="checkbox" [(ngModel)]="firLayer" (ngModelChange)="toggleFIR()">
                    <div class="slider round"></div>
                </label>
<div class="control-label">FIR</div>

<br><br>

<label class="switch">
                    <input type="checkbox" [(ngModel)]="restrictedAirspaceLayer" (ngModelChange)="toggleRestrictedAirspace()">
                    <div class="slider round"></div>
                </label>
<div class="control-label">Restricted Airspace</div>

<br><br>

<label class="switch">
                    <input type="checkbox" [(ngModel)]="runwayLayer" (ngModelChange)="toggleRunway()">
                    <div class="slider round"></div>
                </label>
<div class="control-label">Runways</div>

<br><br>

<label class="switch">
                    <input type="checkbox" [(ngModel)]="droneRestrictionLayer" (ngModelChange)="toggleDroneRestriction()">
                    <div class="slider round"></div>
                </label>
<div class="control-label">Drone Restriction</div>
<br><br>

<label class="switch">
                    <input type="checkbox" [(ngModel)]="airwayLayer" (ngModelChange)="toggleAirway()">
                    <div class="slider round"></div>
                </label>
<div class="control-label">Airways</div>